* {
  padding: 0;
  margin: 0;
  /* border: 1px red dashed; */
}

header {
  display: flex;
  justify-content: space-between;
}

header,
footer {
  padding-top: 2%;
  padding-bottom: 2%;
}

.global-padding {
  padding-left: 15%;
  padding-right: 15%;
}

.dark-background {
  background-color: #1f2937;
}

.lighter-text {
  color: #f9faf8;
}

#logo {
  font-size: 24px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
#hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.header-text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

#hero {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  gap: 5%;
}

#hero-left,
#hero-right {
  flex: 1;
}

.primary-text {
  font-family: Karla, Helvetica, Arial, sans-serif;
}

.hero-bottom-padding {
  padding-bottom: 1rem;
}

#hero-right img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

h1 {
  font-size: 48px;
}

p {
  font-family: Karla, Helvetica, Arial, sans-serif;
}

.button {
  background-color: #3882f6;
  cursor: pointer;
  font-weight: bold;
  color: #f9faf8;
  border-radius: 0.5rem;
}

#btn-hero {
  border: none;
  padding: 1rem 1.5rem;
}

#listings-section {
  margin: 5% 0;
}

#main-information-text {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5%;
}

#listings {
  display: flex;
  gap: 4%;
}

#listings div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#listings p {
  text-align: center;
  margin-top: 1%;
}

.listing-price {
  font-weight: bold;
}

.card-image {
  border-radius: 1rem;
  width: 100%;
  height: 75%;
  object-fit: cover;
}

#testimonials {
  margin: 5% 0;
  padding: 7% 5%;
  background-color: #e5e7eb;
  display: flex;
  gap: 5%;
}

#testimonials div {
  flex: 1;
}

.testimonial {
  text-align: center;
  color: #1f2937;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
}

.testimonial-person {
  margin-top: 3%;
  text-align: center;
  font-weight: 700;
}

#cta-section {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

#cta-center-border {
  background-color: #3882f6;
  display: flex;
  padding: 5% 10%;
  border-radius: 10px;
}

.left-section {
  flex: 2;
}

#cta-secondary-text {
  font-weight: 200;
  margin-top: 2%;
}

.right-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

#btn-cta {
  border: 2px solid #f9faf8;
  padding: 0.5rem 1rem;
}

#copyright {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
}
