* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 24px 15%;
}

.logo {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
#hero-secondary-text {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

.hero {
  display: flex;
  padding: 8% 15%;
  background-color: #1f2937;
}
