* {
  padding: 0;
  margin: 0;
  /* border: 1px red dashed; */
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 2% 12%;
}

.logo {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
#hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.header-text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

.dark-background {
  background-color: #1f2937;
}

#hero {
  display: flex;
  padding: 5% 12%;
  gap: 5%;
}

#hero-left {
  flex: 1;
}

#hero-secondary-text {
  font-family: Karla, Helvetica, Arial, sans-serif;
}

.hero-bottom-padding {
  padding-bottom: 1rem;
}

#hero-right {
  flex: 1;
}

#hero-right img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

#hero-main-text {
  font-size: 48px;
  color: #f9faf8;
}

.default-btn-style {
  background-color: #3882f6;
  cursor: pointer;
  border: none;
}

#hero-cta-btn {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 700;
}

/* Use in other sections later when refactoring */
.section {
  padding: 10% 12%;
}

#listings-section {
  padding: 5% 12%;
  margin: 5% 0;
}

#main-information-text {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5%;
}

#listings {
  display: flex;
  gap: 4%;
}

#listings div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#listings p {
  margin-top: 1%;
  font-family: Karla, Helvetica, Arial, sans-serif;
}

.listing-price {
  font-weight: bold;
}

.card-image {
  border-radius: 1rem;
  width: 100%;
  height: 75%;
  object-fit: cover;
}

#testimonials {
  margin: 5% 0;
  background-color: #e5e7eb;
  display: flex;
  gap: 5%;
}

#testimonials div {
  flex: 1;
}

.testimonial {
  text-align: center;
  color: #1f2937;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
}

.testimonial-person {
  margin-top: 3%;
  text-align: center;
  font-family: Karla, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
